
@media screen and (max-width: 728px)

{
    .input-icons { 
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vw;
    } 

    .icon { 
        margin-top: 3.8vw;
        padding-right: 40vw;
        font-size: 3vw;
        min-width: 45vw;
    } 

    .input-field { 
        width: 100%;
        padding: 2vw;
        margin-top: 7vw;
        border: none;
    } 

    .sun {
        padding: 3vw 1vw 4vw 8vw;
        font-size: 20vw;
    }

    .big-degrees {
        padding: 3vw 2vw;
        font-size: 25vw;
    }

    .next{
        padding: 0vw 0vw ;
        font-size:0vw;
    }

    .nextMobile{
        font-size: 10vw;
    }

    .block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    .fixed-bottomm {
        position: relative;
    }
    
    .menu{
        height: 56vw;
        width: 45vw;
        padding: 3vw 3vw;
        margin: 0vw 5vw 10vw 5vw;
    }

    .menuNY{
        height: 56vw;
        width: 45vw;
        padding: 1.5vw 1.5vw;
        margin: 0vw;
    }

    .input-center{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center-degreesNY {
        height: 12vw;
    }

    .center-degrees {
        margin-bottom: 9vw;
    }

    .textSunny{
        margin-top: 9vw!important;
        margin-bottom: 0vw;
        font-size: 3vw;
    }

    .textDegreesDay{
        font-size: 8vw;
    }

    .textNYdegrees{
        font-size: 17vw;
    }

    .texToday{
        margin-top: 4vw !important;
        font-size: 3vw;
    }

    .textDays {
        font-size: 3vw;
    }

    .textNY{
        margin-top: 4vw;
        font-size: 7vw;
        font-weight: unset;
    }
   
}
    
    



