    body{ 
        padding:0; margin:0;font-family: 'Lato', sans-serif;background-color: rgb(43, 43, 206);
    }

    p{
        margin: 0vw;
        padding: 0vw;
    }

    input::placeholder {
        color: #000000;
    }

    .box {
        position: absolute;
        bottom: 30vw;
        left: 90vw;
        cursor:pointer 
    }

    .input-icons i { 
        position: absolute; 
    } 

    .input-icons {  
        margin-bottom: 1vw;
        margin-top: 5vw;
        margin-left: 70vw;
    } 
      
    .icon { 
        padding: 0vw 0vw 0vw 1vw;
        text-align: left;
        margin-top: 1vw;
        font-size: 2.4vw;
        pointer-events: none;
    } 
      
    .input-field { 
        width: 24vw;
        padding: 1vw;
        text-align: center;
        background-color: rgba(74, 115, 214, 0.897);
        border: 0.1vw;
        border-color: rgb(18, 18, 183);
        border-style: solid;
    }

    .sun{
        display: flex;
        margin: 0 auto !important;
        box-sizing: border-box;
        padding: 3vw 2vw 1vw 3.5vw;
        color: #ffffff;
        font-size: 9vw;
        justify-content: center;
    }

    .degrees{
        display: flex;
        color: #ffffff;
        font-size: 5vw;
        padding: 1.2vw 0vw;
    }

    .big-degrees{
        display: flex;
        padding: 2.5vw 1vw;
        color: #ffffff;
        font-size:7.5vw;
    }

    .next{
        font-size: 4vw;
        color: #ffffff;
    }

    .nextMobile{
        color: #ffffff;
        font-size:0vw;
    }

    .block{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width:100%;
    }

    .fixed-bottomm{
        position: absolute;
        bottom: 4vw;
    }

    .menu{
        opacity: .9;
        border: none;
        background-color: rgba(255, 255, 255, 0.233);
        height: 23vw;
        width: 21vw;
        padding: 1vw 1vw;
        margin: 1vw;
    }

    .menuNY{
        border: none;
        height: 23vw;
        width: 21vw;
        padding: 1vw 1vw;
        margin: 0.5vw;
    }

    .center-degreesNY{
        margin: 0vw;
        height: 10vw;
    }

    .center-degrees{
        margin: 0vw;
        height: 4vw;
    }
    
    .textSunny{
        color: #ffffff;
        margin-top: 3vw !important;
        font-size: 2vw;
    }

    .textDegreesDay{
        font-family: 'Open Sans Condensed', sans-serif;
        color: #ffffff;
        margin: 0vw !important;
        font-size:3vw;
        padding:0.5vw !important;
    }

    .textNYdegrees{
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        margin: 0vw;
        font-size: 7.5vw;
        box-sizing: border-box;
        padding: 0vw;
    }
    .texToday{
        color: #ffffff;
        margin-top: 0vw !important;
        margin-bottom: 0vw;
        font-size: 1.5vw;
        padding: 0.3vw;
    }

    .textDays{
        color: #ffffff;
        margin: 0vw !important;
        font-size: 1.5vw;
    }

    .textNY{
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 0vw;
        font-size: 2.5vw;
        padding: 0vw;
        height: 4vw;
        margin-top: 0vw;
    }